<div class="form-group">
  <label for="name" class="control-label col-lg-2">Course</label>
  <div class="col-lg-10">
    <select ng-options="course.id as course.name for course in courses" ng-model="classroom.course_id" class="form-control" required>
      <option></option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="description" class="control-label col-lg-2">Student</label>
  <div class="col-lg-10">
    <select ng-options="student.id as student.name for student in students" ng-model="classroom.student_id" class="form-control" required>
      <option></option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="status" class="control-label col-lg-2">entry_at</label>
  <div class="col-lg-10">
    <datetimepicker ng-model="classroom.entry_at" date-format="yyyy/MM/dd" date-options="required">
    </datetimepicker>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <input type="submit" class="btn btn-primary" value="Save"
    ng-disabled="fm.classroom.course_id.$invalid"/>
    <a href="#/" class="btn btn-default">Cancel</a>
  </div>
</div>
