<div class="form-group">
  <label for="name" class="control-label col-lg-2">Course</label>
  <div class="col-lg-10">
    <select ng-options="course as course.name for course in courses track by course.id" ng-model="classroom.course_id" class="form-control"></select>
  </div>
</div>
<div class="form-group">
  <label for="description" class="control-label col-lg-2">Student</label>
  <div class="col-lg-10">
    <select ng-options="student as student.name for student in students track by student.id" ng-model="classroom.student_id" class="form-control"></select>
  </div>
</div>
<div class="form-group">
  <label for="status" class="control-label col-lg-2">entry_at</label>
  <div class="col-lg-10">
    <input type="text" ng-model="course.entry_at" class="form-control" id="status"/>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
    <a href="#/" class="btn btn-default">Cancel</a>
  </div>
</div>
