<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>registre_number</th>
      <th>status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students">
      <td>{{ student.name }}</td>
      <td>{{ student.registre_number }}</td>
      <td>{{ student.status }}</td>
      <td>
        <a href="#/students/{{student.id}}/show" class="btn btn-primary">View</a>
        <a href="#/students/{{student.id}}/edit" class="btn btn-primary">Edit</a>
        <a class="btn btn-danger"  ng-click="deleteStudent(student)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<a href="#/students/new" class="btn btn-primary">New</a>
