<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Student</th>
      <th>Entry at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="classroom in classrooms">
      <td><a href="#/students/{{classroom.course_id}}/show">{{ classroom.course }}</a></td>
      <td><a href="#/courses/{{classroom.student_id}}/show">{{ classroom.student }}</a></td>
      <td>{{ classroom.entry_at }}</td>
      <td>
        <a class="btn btn-danger" ng-click="deleteClassroom(classroom)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<a href="#/classrooms/new" class="btn btn-primary">Nova Matricula</a>
